
<main class="container">
<div class="row" style="height:100px;">
  <div class="col"></div>
  <div class="col"></div>
  <div class="w-100"></div>
  <div class="col"></div>
  <div class="col"></div>
</div>

	<div class="row align-items-center">
		<div class="col">
			<div class="card zoom" style="width: 20rem">
			  <img src="/Assets/images/self.jpg" class="card-img-top" alt="..." />
			  <div class="card-body">
				<h5 class="card-title">Raghav Thakkar</h5>
				<p class="card-text text-dark textLeft">
				  Flutter Hackathon winner which was organized by <a href="https://twitter.com/fluttervadodara/status/1148568825941467136">#FlutterVadodara.</a>
				</p>
			  </div>
			</div>
		  </div>
	  
		  <div class="col text-light">
			<ul>
			  <li class="textLeft">
				Published Android app that has an average rating of 4.6/5 and 10k+
				downloads in the Google play store.
			  </li>
			  <li  class="textLeft">
				  An enthusiast and a quick learner when it comes to adapting to new
				  technologies and new challenges.
			  </li>
			  <li  class="textLeft">
				  In free time, I'd like play cricket and listening to music.
			  </li>
			</ul>
		  </div>
		  <div class="col">
			<a href="/Assets/images/Resume.pdf" class="btn btn-light"
			  >Download Resume</a
			>
		  </div>
	</div>
  </main>



