  <nav class="navbar fixed-bottom navbar-dark bg-dark">
   <a class="navbar-brand" href="#">@Copy right 2021</a>
  </nav>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
  <script src="/Scripts/main.js"></script>
<script>

</script>
</body>
</html>