<%- include('header.ejs') %>
    	<div class="description">
				<h1>I am Raghav Thakkar</h1>
		
		<p  class="typewrite" data-period="2000" data-type='[ "Mobile App Developer", "Website Developer", "Freelancer", "I love to Develop new things." ]'>
    
  </p>
			</div>
    <%- include('footer.ejs') %>