

<main class="container">
  <div class="row" style="height:100px;">
    <div class="col"></div>
    <div class="col"></div>
    <div class="w-100"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
	<div class="row align-items-center">
    <div class="col-sm zoom">
      <div class="card" style="width: 20rem;">
    <img src="/Assets/images/hs.webp"  class="card-img-top cardImage" alt="...">
    <div class="card-body">
      <h5 class="card-title">Housie/Tambola Ticket Generator</h5>
      <p class="card-text text-dark textLeft">Housie/Tambola Ticket Generator and Play app generate random tickets for the game Tambola/Housie. So you can play the Tambola/Housie game with your friends and family.</p>
      <a href="https://play.google.com/store/apps/details?id=com.appstudio.housieticketgenerator" class="btn btn-dark">View</a>
    </div>
  </div>
  </div>
	
  <div class="col-sm zoom">
    <div class="card" style="width: 20rem;">
      <img src="/Assets/images/multiplication.webp" class="card-img-top cardImage" alt="...">
      <div class="card-body">
        <h5 class="card-title">Multiplication Tables</h5>
        <p class="card-text text-dark textLeft">Multiplication tables app helps the learners in a way that makes very easy to understand and test their skills and presence of mind by offering them practice tests. One can also dig the final test to collect points. These all brings a complete initial solution to master multiplication tables</p>
        <a href="https://play.google.com/store/apps/details?id=com.appfactory.multiplicationtable" class="btn btn-dark">View</a>
      </div>
    </div>
    </div>
    
    <div class="col-sm zoom">
      <div class="card" style="width: 20rem;">
        <img src="/Assets/images/rto-g.webp" class="card-img-top cardImage" alt="...">
        <div class="card-body">
          <h5 class="card-title">RTO Gujarat</h5>
          <p class="card-text text-dark textLeft">RTO Exam Gujarat, Learning(Driving) Licence Exam Gujarati.In this section of the app, Learners or Driver can practice for the RTO Exam Gujarati Driving(Learning) Licence and there is no time limit. In addition, Learners can pause and resume practice.</p>
          <a href="https://play.google.com/store/apps/details?id=com.appstudio.rto.gujarat.learninglicence" class="btn btn-dark">View</a>
        </div>
      </div>
      </div>
	</div>
  </main>

