<main class="container">
	<div class="row" style="height:100px;">
		<div class="col"></div>
		<div class="col"></div>
		<div class="w-100"></div>
		<div class="col"></div>
		<div class="col"></div>
	  </div>
	<div class="row justify-content-center">
		<div class="col-md-4">
			<div class="card zoom" style="width: 18rem;">
				<img src="/Assets/images/android-app.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Android App Development</h5>
				 
				</div>
			  </div>
		  </div>

		  <div class="col-md-4">
			<div class="card zoom" style="width: 18rem;">
				<img src="/Assets/images/ios-app.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">iOS App Development</h5>
				 
				</div>
			  </div>
		  </div>

		  <div class="col-md-3">
			<div class="card zoom" style="width: 18rem;">
				<img src="/Assets/images/website.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Website Development</h5>
				
				</div>
			  </div>
		  </div>
	  
	</div>
  </main>

